.contact{
    width: 50%;
    margin: 3% auto;
    height: 35vh;
    background-color:#d65a5a;
    border-radius: 40px;
  }
  
  .contact h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    color: #ffffff;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
  }
  
  .contact .input_field{
    margin-bottom: 10px;
  }
  
  .contact .input_field input[type="text"],
  .contact textarea{
    border: 1px solid #d8d8d8;
    width: 100%;
    padding: 10px;
  }
  
  .contact textarea{
    resize: none;
    height: 80px;
  }
  
  #error_message{
    margin-bottom: 20px;
    background: #e4d83b;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }

.btn input[type="submit"] {
    margin-top:20px;
    background: #eb4079;
    cursor: pointer;
    color:white;
    padding:12px 20px;
    border: 0;
    border-radius: 20px;
    margin-left:10px;
    text-decoration: none;
    text-align: center;
}
