body{
    font-style: Normal;
    font-family: Arial;
    margin-left: 20%;
    margin-right: 10%;
}
.title{
    font-size: larger;
    font-family:'Times New Roman';
    left: 40%;
}
.img1{
    position: relative;
    left: 15%;
}
.img2{
    position: relative;
    left: 20%;
}
.a{
    height: 100px;
    width: 100px;
}
.b{
    height: 100px;
    width: 100px;
}
.c{
    height: 100px;
    width: 100px;
}
.d{
    height: 100px;
    width: 100px;
}
.e{
    height: 100px;
    width: 100px;
}