body{
    font-style: Normal;
    font-family: Arial;
    margin-left: 20%;
    margin-right: 10%;
}
.title{
    font-size: larger;
    font-family:'Times New Roman';
    left: 40%;
}
.img1{
    position: relative;
    left: 15%;
}
.img2{
    position: relative;
    left: 20%;
}